h1 {
    text-align: center;
}

.item {
    display: inline-flex;
    position: relative;
    margin-right: 35px;
    font-size: 20px;
}

#idti {
    font-family: 'Lobster', serif;
}

.h1 {
    font-family: poppins;
    font-size: x-large;
    text-shadow: 0px 2px 2px rgb(255, 0, 0);
}
.link_menu {
    padding: 5px 10px;
    text-align: center;
    border: 0px solid #f00;
    background: black;
    text-decoration: solid;
    margin-left: auto;
    margin-right: auto;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display: block;
    }
  

.vemo {
    
    padding: 5px;
    text-align: justify;
    flex-direction: column;
    background-color:  rgba(103, 151, 151, 0.288);
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    border: 4px double white;
}
.ul{
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgba(103, 151, 151, 0.288);
    padding: 30px;
    border-radius: 18px;
    border: 4px double white;

}

.b {
    color: rgb(143, 5, 5)
}

p {
    text-align: justify;
}

.body {
    
    margin-right: auto;
    
    margin-left: auto;
    justify-content: center;
align-items: center;
/* margin: 0; */
    border: 10px dotted black;
    padding: 50px 50px 50px 50px;
    font-family: 'Cairo', sans-serif;
    background-color: white;

}

body {
    padding: 50px 50px 50px 50px;
    font-family: 'Cairo', sans-serif;
    -webkit-animation: colorchange 21s infinite;
    animation: colorchange 15s ease-in infinite;
}

@-webkit-keyframes colorchange {
    0% {
        background-color: rgb(223, 5, 5);
    }
    20% {
        background-color: orange;
    }
    40% {
        background-color: rgb(240, 240, 17);
    }
    60% {
        background-color: green;
    }
    80% {
        background-color: rgb(53, 53, 226);
    }
    90% {
        background-color: rgb(123, 20, 197);
    }
    100% {
        background-color: rgba(201, 68, 201, 0.808);
    }
}

@keyframes colorchange {
    0% {
        background-color: rgb(223, 8, 8);
    }
    20% {
        background-color: orange;
    }
    40% {
        background-color: rgba(238, 238, 17, 0.959);
    }
    60% {
        background-color: rgb(11, 129, 11);
    }
    80% {
        background-color: rgb(52, 52, 241);
    }
    90% {
        background-color: rgb(129, 64, 175);
    }
    100% {
        background-color: rgba(204, 73, 204, 0.774);
    }
}

.vi {
    display: flex;
}

p {
    text-align: justify;
    padding: 0 5px 0 5px;
}

.grafic {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gra {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.boxVideo {
    position: relative;
    padding-bottom: 55.7%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
}

.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
}


/*
position: relative todos os elementos filhos vão se posicionar em relação a esse recipiente.
padding-bottom: 56.25% foi utilizada para criar uma proporção dentro do elemento figure preenchendo a altura com esse valor.

padding-top: 25px abre espaço para os controladores de vídeo.

height: 0 para retirar qualquer altura do elemento.

margin:0 auto para centralizar.

width: 90% para definir a proporção ocupada pelo contêiner na tela.

.boxVideo iframe recebe praticamente regras de posicionamento e dizemos que vai ocupar cem por cento da largura e altura do seu elemento pai.

*/

#rodape {
    margin-top: 70px;
    
    text-align:center;
    }
    p.copyright{
        color: lightskyblue;
        text-align:center;
        margin:0 auto;
        margin-top:10px;
        }

@media (max-width: 768px) {
    body{
        display: flex;
        
        align-items: center;
        
    }
    .body{
        display: flexbox;
/*        max-width: auto; */
       margin: 0 auto 15px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blocos {
        flex-direction: row;
        align-items: center;
    }
  
    .h1 {
        display: inline-block;
        font-size: 100%;
    }
    
    .link_menu{
        margin-left: auto;
        margin-right: auto;
       
        display: flex;
        flex-direction: column;
    }
    p {
        flex-direction: column;
        display: inline;
        font-size: 100%;
    }
    ul {
        font-size: auto;
        display: inline-block;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .gra {
        width: 100%;
        height: 100%;
    }
    .vemo {
        flex-direction: column;
     display: inline-block;

    }
   
    .vi {
        flex-wrap: wrap;
    }
    .roda {
        text-align: center;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}